<a href="/recipes/{{id}}"><img src="{{smallImagePath}}" alt="Image"></a>
<div>
  <h3><a href="/recipes/{{id}}">{{title}}</a></h3>
  <div>
    <p>
      {{summary}}
    </p>
    <ul>
      <li>
        This is just a place holder
      </li>
      <li>
        This is just a place holder
      </li>
      <li>
        This is just a place holder
      </li>
    </ul>
  </div>
</div>